body{
    font-size: 10px;
    font-family: 'Cuprum', sans-serif;
    background-color: white
}

h1{
    font-weight: 700;
}

p{
    font-size: 2em;
}

.green{
    color: #28A745;
}

.blue{
    color: #01507C
}

.bg-blue{
    background-color: #01507C;
}
.red{
    color: #DC3545;
}

.orange{
    color: #FFC106;
}

.ghost{
    color: rgb(150, 146, 146, 0.5)
}

#bgMute,
#bgUnmute{
    font-size: 2rem;
}